html {
  font-size: 18px;
  color: white;
  font-family: Helvetica;
}
body{
  display: block;
  vertical-align: baseline;
}
.container {
  max-width: 100%;
}
.logo-container {
  /*width: 960px;
  margin: auto;*/
  background-color: black;
  color: white;
  padding: 0.66rem 0 0.66rem 0.5rem;
}
.logo {
  width: 960px;
  margin: auto;
}
/*simplify*/
.logo img {
  height: 1.5rem;
  margin-right: 1.5rem;
}

.banner {
  display: block;
  background-image: url("../../resources/images/background-image.jpeg");
  background-position: center;
  background-size: cover;
  height: 25rem;
  width: 100%;
}
.arrival-container {
  width: 960px;
  margin: auto;
}
.arrival {
  display: inline-flex;
  flex-direction: column;
  background-color: black;
  font-weight: bold;
  width: 20rem;
  margin-top: 9rem;
  margin-left: 0;
  padding-left: 3rem;

}
.arrival span {
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 0.125rem;
  margin-bottom: 0;
  margin-left: 0;
}
.arrival h1 {
  font-size: 2rem;
  padding-top: 0.125rem;
  margin-top: 0;
  margin-left: 0;
}
nav {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: space-around;
  background-color: firebrick;
}
nav span {
  display: inline;
  padding: 0.75rem 0;
  max-width: 960px;
  text-align: center;
}
#mobile-nav {
  display: none;
  visibility: hidden;
}
.link {
  color: white;
  text-decoration: none;
}

.featured {
  display: flex;
  justify-content: space-around;
  width: 960px;
  margin: auto;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 4px solid black;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 30%;
}
#center {
  width: 960px;
  margin: auto;
}
.image {
  display: block;
  justify-content: center;
  align-content: center;
  /*height: 100%;*/
}
.product img {
  justify-content: space-around;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  height: 9rem;
  width: 9rem;

}
.description {
  background-color: black;
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.location, .hours {
  display: inline-flex;
  flex-direction: column;
}
.postion {
  display: inline-flex;
  width: 35%;
  padding: 1rem 0 1rem 2rem;
  background-color: black;
  color: white;
}
.title {
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
}
.details {
  color: black;
}
/*.location, .hours {
  display: inline-flex;
  flex-direction: column;
  width: 35%;
}*/

footer {
  display: flex;
  height: 5rem;
  background-color: black;
  align-items: center;
}
.foot-container {
  width: 960px;
  margin: auto;
}
@media only screen and (max-width: 1024px) {
  .arrival span {
    font-size: 0.77rem;
  }
  .arrival h1 {
    font-size: 1rem;
  }
  #mobile-nav {
    display: flex;
    visibility: visible;
    width: auto;
    justify-content: center;
  }
  .link {
    display: none;
    visibility: hidden;
  }
  #thermal {
    display: none;
    visibility: hidden;
  }
  .product {
    width: 47%;
  }
}
@media only screen and (max-width: 470px) {
  #watch {
    display: none;
    visibility: hidden;
  }
}
